.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    font-family: Arial, sans-serif;
    background-color: #ff5733;
}

h1, h2 {
    color: #333;
}

form {
    margin-top: 20px;
}

input, button {
    padding: 5px;
    margin: 5px;
}
